
<div class="loginContainer">
    <div class="loginArea d-none d-md-flex">
        <div class="userForm">
            <div class="userFormTitle">Mot de passe oublié</div>

            <div class="formArea">
                <div class="eMailInput userTexfield"><input type="text" name="eMail" placeholder="Email" /></div>
                <input name="Save" class="emailSubmitButton greenSubmitButton" type="submit" value="Envoyer" />

                <div class="centuryFont smallFontSize redefinePasswordText">
                    Vous recevrez un lien sur votre email permettant de redéfinir votre mot de passe.
                </div>
            </div>

        </div>
    </div>

    <div id="userForm" class="userForm userForm-responsive d-block p-0 d-md-none">
        <div class="userFormTitle">Mot de passe oublié</div>
        <div class="formArea">
            <div class="eMailInput userTexfield"><input type="text" name="eMail" placeholder="Email" /></div>
            <input name="Save" class="emailSubmitButton greenSubmitButton" type="submit" value="Envoyer" />

            <div class="centuryFont smallFontSize redefinePasswordText">
                Vous recevrez un lien sur votre email permettant de redéfinir votre mot de passe.
            </div>
        </div>
    </div>

</div>

<script defer>
    $(function () {
        Mjc.inscription.runPasswordForgottenUtilities();
    });
</script>