@using MesJolisCotillons.ViewModels

<div class="informationBackground container-fluid">
    <div class="informationContainer">
        @Html.Partial("LeftMenuAbout", new InformationLeftMenuViewModel { itemSelectedId = "AboutView" })
        <div class="informationContent">
            <div class="informationTitle">C'est qui derrière tout ce bazar ?</div>
            <div class="informationAvatar"><img src="~/Content/Images/Apropos.JPG" /></div>
            <div class="informationAboutContent">
                Juillet 1989,<br />

                Alors haute comme trois pommes, je ne me doutais pas que
                ce fauteuil en rotin sur lequel je suis installée serait
                un objet typique que j’aimerais retrouver aujourd’hui…
                <br /><br />

                Telle une serial chineuse, j’arpente les brocantes pour
                dénicher les objets anciens, parfois uniques et décoratifs
                que je partage sur ma boutique en ligne.
                <br /><br />

                Je vous souhaite une bonne visite !
                <br /><br />

                Cécile
                <br /><br /><br />
            </div>
        </div>
    </div>
</div>














