
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="icon" type="image/png" href="~/Content/Images/Icons/logoFavicon.png" />
    <link href="~/Content/CannotHandleMobile.css" rel="stylesheet">
    @*@Styles.Render("~/Content/MesJolisCotillonsCssPackageMobile")*@
    <title>Mes Jolis Cotillons</title>
</head>
<body>
    <div id="paintBandeau">
        <ul class="leftArea">
            <li><a title="Ma page Facebook" target="_blank" href="https://www.facebook.com/mesjoliscotillons/?ref=aymt_homepage_panel"><img class="socialLink" src="~/Content/Images/Icons/Facebooknew.png" height="25px" width="25px" alt="Facebook icon"></a></li>
            <li><a title="Ma page Pinterest" target="_blank" href="https://fr.pinterest.com/Cecile_06/"><img class="socialLink" src="~/Content/Images/Icons/Pinterestnew.png" height="25px" width="25px" alt="Pinterest icon"></a></li>
            <li><a title="Ma page Insta" target="_blank" href="https://www.instagram.com/mesjoliscotillons/"> <img class="socialLink" src="~/Content/Images/Icons/instagramnew.png" height="25px" width="25px" alt="Instagram icon"></a></li>
        </ul>
        <ul class="rightArea"></ul>
    </div>
    <div class="bandeau">
        <img src="~/Content/Images/Logo1902_SITE.png" />
    </div>
    <div class="container">

        <div class="messageText">
            <b>Hello !</b><br>
            La boutique sera bientôt disponible en version mobile. <br>En attendant, l'équipe de <br>Mes Jolis Cotillons vous donne rendez-vous sur<br>
            <img style="height:100px;width:100px;vertical-align:middle;" src="~/Content/Images/open-laptop-computer.png" />
            <img style="height:80px;width:80px;margin-right:20px;vertical-align:middle;" src="~/Content/Images/hand-touching-tablet-screen.png" /><br>
            <b>Merci et à bientôt !</b>
        </div>

    </div>
</body>
</html>
