@using MesJolisCotillons.ViewModels

<div class="informationBackground">
    <div class="informationContainer container-fluid">
        @Html.Partial("LeftMenuHelp", new InformationLeftMenuViewModel {itemSelectedId = "GeneralSalesConditionsView"})
        <div class="informationContent">
            <div class="informationTitle">Conditions générales de ventes</div>
            <div class="informationSimpleText generalSalesConditionsHeaders">

                <h4>CONDITIONS GÉNÉRALES DE VENTE ET D'UTILISATION :</h4>
                <br/>
                Vous devez prendre connaissance des conditions générales de vente et d'utilisation (ci-après dénommées « les Conditions Générales de Vente et d'Utilisation »), édictées ci-après avant d'utiliser ce site.
                Tout accès ou utilisation du site implique le respect et l'acceptation sans réserve de l'ensemble des Conditions Générales de Vente et d'Utilisation. Dans le cas où vous ne souhaitez pas accepter tout ou partie de celles-ci, il vous est demandé de renoncer à tout usage de ce site.<br/>
                Mes Jolis Cotillons se réserve le droit de modifier les termes, conditions et mentions des présentes Conditions Générales de Vente et d’Utilisation et mentions légales. Ces modifications sont réputées acceptées sans réserve dès lors que vous accédez au site, postérieurement à cette mise en ligne.
                Vous reconnaissez que ces Conditions Générales de Vente et d’Utilisation constituent un accord complet et exclusif entre vous et Mes Jolis Cotillons quant à votre utilisation du site.
                <br/>
                <br/>

                <h5>CONDITIONS GÉNÉRALES DE VENTE</h5>
                <br/>
                Les Conditions Générales de Vente et d'Utilisation s'appliquent à toutes les commandes passées par le biais du site et ce, quelles que soient les clauses pouvant figurer sur les documents de l'acheteur.
                Les offres de Mes Jolis Cotillons présentes sur le site s'adressent uniquement aux particuliers. Tous produits disponibles sur le site sont destinés uniquement à une utilisation personnelle. Vous vous engagez donc à ne pas vendre ou revendre les produits de Mes Jolis Cotillons que vous achetez ou recevez.<br/>
                Mes Jolis Cotillons se réserve le droit d'annuler, de limiter ou de réduire la quantité de toute commande qui pourrait être faite en violation des présentes Conditions Générales de Vente et d'Utilisation.
                <br/>
                <br/>
               

                <h5>Commandes</h5>
              
                <h6>1. Procédure de commande</h6>
                <br/>

                Une description détaillée des produits est disponible à l'occasion de la visualisation individuelle de chacun d'eux sur le site.<br/>
                Le système ainsi mis en place suppose une démarche active de votre part. Il est conforme aux exigences légales requises en matière de vente en ligne et de protection du consommateur.<br/>
                Pour commander les produits souhaités, entrez dans la fiche produit des articles que vous désirez acheter en cliquant sur leur photo, choisissez la quantité désirée (sauf pour les produits de Ma jolie Brocante : produits uniques), puis cliquez sur "Ajouter au panier ". Vos choix seront automatiquement ajoutés à votre panier que vous pouvez consulter à tout moment en haut à droite de chaque page.<br/><br/>

                Une fois votre panier validé, choisissez votre moyen de livraison (Colissimo ou le retrait directement à l’entrepôt de Mes Jolis Cotillons).<br/>
                Puis entrez vos informations de livraison, vous avez la possibilité d’avoir une adresse de facturation différente de l’adresse de livraison (enregistrée par défaut lors de votre inscription sur le site de Mes Jolis Cotillons). Pour cela vous pouvez modifier l’adresse de livraison et de facturation lors du passage de votre commande.<br/>
                Enfin, choisissez votre mode de paiement avec votre compte PAYPAL ou votre carte bancaire. En cas d'oubli d'un des éléments précédents, votre commande ne sera pas valable.
                <br/>
                <br/>

                <h6>2. Acceptation de commande</h6>

                <br/>
                Mes Jolis Cotillons s'engage à accepter les commandes effectuées par Internet, dans la limite des stocks disponibles, dans les termes des présentes dont vous devez déclarer avoir pris connaissance lorsque vous validez la commande.<br/>
                Vous devez être en mesure, avant la conclusion du contrat, de connaître les caractéristiques essentielles des produits (nature, quantité, composition du produit, qualités substantielles…), leur prix, les modes de paiement acceptés, les restrictions de livraison ainsi que le délai, les conditions et modalités d’exercice du droit de rétractation ainsi que les cas d’exclusions d’exercice de ce droit.<br/><br/>
                Pour tout achat sur notre site, un e-mail de confirmation vous sera adressé mentionnant le numéro de votre commande, le détail des produits commandés. Une fois votre commande prise en charge vous recevrez un e-mail avec les informations vous permettant de suivre la livraison des produits.
                <br/>
                <br/>

                <h6>3. Limitations</h6>
                <br/>

                En cas de rupture de stock, Mes Jolis Cotillons s'engage à vous en informer par courrier à l'adresse électronique que vous avez indiquée, dans les plus brefs délais. Mes Jolis Cotillons vous communiquera les délais d'approvisionnement nécessaires pour obtenir le produit souhaité.<br/>
                Mes Jolis Cotillons n'est pas en mesure de gérer les reliquats de commandes : si un produit est en rupture sans délai de réapprovisionnement précis, Mes Jolis Cotillons vous proposera le remboursement du produit commandé, via le mode de paiement utilisé lors de votre commande.
                Toute commande ne sera prise en considération qu'après réception du paiement intégral des produits et sera confirmée par Mes Jolis Cotillons, par e-mail.<br/><br/>
                Mes Jolis Cotillons se réserve le droit d'annuler toutes les commandes, non conformes, suspectes, ou passées de mauvaise foi. En outre, nous nous réservons le droit de refuser toute commande d'un client avec lequel il existerait un quelconque litige antérieur ou en cours.
                <br/>
                <br/>

                <h6>4. Prix</h6>

                <br/>
                Les prix sont indiqués en EUROS (€), hors taxes (HT), et ne sont valables qu’à la date de l’envoi du bon de commande par l’acheteur.<br/>
                Les prix ne tiennent pas compte de la TVA. En l’espèce, la TVA est non applicable conformément à l’article 293B du Code Général des Impôts.<br/>
                Il s'agit de prix qui comprennent le prix des produits, les frais de manutention, d'emballage. Ces derniers peuvent être modifiés par la suite, sans préavis. Ils ne comprennent pas la participation aux frais de port et de livraison qui peuvent varier en fonction du montant, du poids de la commande et/ou du pays d'expédition.<br/>
                Toute commande livrée en dehors de la France métropolitaine pourra être soumise à d'éventuelles taxes locales et frais de douane à l'entière charge et aux frais de l'acheteur.<br/>
                D'éventuelles taxations douanières pourront vous être demandées par le transporteur, au moment de la livraison. Ces droits de douane et ces taxes éventuels liés à la livraison d'un article sont à votre charge et relèvent de votre responsabilité.<br/>
                En aucun cas Mes Jolis Cotillons ne sera tenue de supporter des frais additionnels liés à la délivrance de la commande hors charges de transport, décrits et facturés lors de la conclusion de votre commande sur le site.<br/>
                Le prix indiqué dans la confirmation de commande est le prix définitif exprimé.
                <br/>
                <br/>

                <h6>5. Conditions de paiement</h6>
                <br/>

                Le paiement des produits achetés sur le site s'effectue en totalité, lors de la commande. Les produits restent la propriété de Mes Jolis Cotillons jusqu'au règlement intégral de la commande.<br/>
                Les règlements s'effectuent par carte bancaire MasterCard, Visa, Carte bancaire nationale, Aurore, Carte VPay, Cofinoga / Privilège, Cofidis 4 étoiles, American Express, Discover et Maestro ou par Paypal.


                Votre carte bancaire sera débitée au moment de la confirmation de votre commande.<br/>
                À cette fin, vous garantissez que vous êtes titulaire de la carte bancaire à débiter et que le nom y figurant est bien le vôtre.
                <br/>
                <br/>

                <h6>6. Sécurisation des paiements</h6>
                <br/>

                Le protocole de sécurisation des paiements utilisé est PAYPAL. Il garantit une totale confidentialité des informations personnelles transmises sur Internet. Ainsi, les informations relatives à votre carte bancaire ne sont pas conservées sur le site et votre paiement peut être consulté uniquement sous forme cryptée grâce au protocole SSL (confirmé par l'apparition du " https " dans l'url affichée de votre navigateur).<br/>
                Vos données bancaires sont conservées sur le serveur de la société PAYPAL sous forme cryptée uniquement et ne sont conservées que pour la durée strictement nécessaire à la gestion de la relation client et ne dépassera en aucun cas 2 ans à compter de votre dernière commande.<br/>

                Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez, à tout moment, d’un droit d’accès, de rectification, et d’opposition à l’ensemble de vos données personnelles en écrivant, et en justifiant de votre identité, à <a href="mailto:mesjoliscotillons@gmail.com">mesjoliscotillons@gmail.com</a> ou directement dans votre compte personnel que vous avez créé sur le site.
                <br/>
                <br/>

                <h6>7. Livraison</h6>
                <br/>

                Mes Jolis Cotillons livre dans plusieurs pays, toutes les commandes partent de France, proche Paris (Palaiseau).<br/>
                Pour une livraison effectuée en dehors de la France, une demande spécifique nécessitera l’envoi d’un e-mail à l’adresse suivante : mesjoliscotillons@gmail.com.
                Mes Jolis Cotillons s’engage à tout mettre en œuvre afin de livrer les produits commandés dans les délais indiqués lors du choix de la livraison, plus un délai de 24 heures pour la gestion et préparation de votre commande. Il est précisé que les commandes enregistrées sur le site le vendredi après-midi, le samedi ou le dimanche ne seront traitées que le lundi suivant. Par ailleurs, les commandes enregistrées sur le site un jour férié (français) ne seront également traitées que le jour ouvré suivant.<br/><br/>
                La commande est livrée à l'adresse de livraison que vous avez choisie. Les informations énoncées et enregistrées lors de la commande vous engagent. En cas d'erreur dans le libellé des coordonnées du destinataire, Mes Jolis Cotillons ne saurait être tenue responsable de l'impossibilité dans laquelle elle pourrait être de livrer le ou les produit(s) suite à cette erreur. De plus, dans ce cas, Mes Jolis Cotillons ne pourra pas effectuer une deuxième livraison. Le prix de la commande vous sera alors remboursé, après réception du colis de retour à l'entrepôt de Mes Jolis Cotillons.

                <br/>
                <br/>
                <h6>8. Livraison et risque</h6>
                <br/>

                Les produits voyagent aux risques et périls de Mes Jolis Cotillons. Les risques ne sont transférés au client qu'au moment de la livraison des produits à l'adresse indiquée par ce dernier.
                Mes Jolis Cotillons propose l’option livraison à domicile avec signature. Vous devrez cocher l’option « livraison avec Signature » lors de la prise de la commande afin de souscrire à l’option.

                Cette option comprend une garantie en cas d’avarie ou de perte. Cette garantie est valable dans la limite de la valeur (€)* de la commande.
                3 options de garantie : option 1 pour les commandes d’un montant inférieur ou égale à 31€, option 2 pour les commandes d’un montant compris entre 31€ et 153€ et l’option 3 pour les commandes d’un montant compris entre 153€ et 458€. En cas d’avarie ou de perte, le remboursement s’effectuera sur l’option 1 à hauteur de 31€ maximum, l’option 2 à hauteur de 153€ maximum et l’option 3 à hauteur de 458€ maximum.

                Mes Jolis Cotillons garantit que les produits sont en parfait état, lors de la remise au transporteur. Comme dans tous les vides-greniers, les produits de Ma jolie Brocante sont présentés dans leur état, lors de leurs trouvailles en brocante. L’état des produits de Ma jolie Brocante est précisé dans le descriptif des produits.
                Dans le cas où les produits seraient endommagés, vos réserves doivent être faites par écrit auprès du transporteur lors de la livraison, ou au plus tard 4 heures après cette livraison. Une copie de ces réserves doit être envoyée à Mes Jolis Cotillons par courrier électronique à l’adresse mesjoliscotillons@gmail.com.
                Si la procédure ci-dessus a été respectée, et s'il est ainsi prouvé que les réserves sont dues au fait que le paquet et les produits sont endommagés, Mes Jolis Cotillons à son choix remboursera ou effectuera une nouvelle livraison de produits similaires (selon les stocks disponibles).

                <br/>
                <br/>

                <h6>9. Retour</h6>
                <br/>
                Aucun retour non validé de produits ne sera accepté.
                Pour les produits de Ma jolie Brocante, comme dans tous les vide-greniers, Mes Jolis Cotillons n’échange, ni ne reprend la marchandise. Aucun retour ne sera donc possible pour les produits vintage, anciens, d’occasion ou de seconde main.
                Pour les produits et séries limitées, les frais d’expédition et de retours sont à la charge de l’acheteur et doivent faire l’objet d’acceptation de retour. En l’espèce, avant tout retour produit, l’acheteur devra contacter Mes Jolis Cotillons par courriel exclusivement, dans les 48 heures suivant la réception de sa commande, en précisant la dénomination du produit et le motif du-dit retour, puis suivre les instructions détaillées par Mes Jolis Cotillons en réponse à ce courriel.
                Toute réclamation, non effectuée dans les règles définies ci-dessus et dans les délais impartis ne sera pas prise en compte et dégagera Mes Jolis Cotillons de toute responsabilité vis à vis de l’acheteur.
                <br/>
                <br/>
                <h6>10. Droit de rétractation</h6>
                <br/>
                En application des dispositions des articles du code de la consommation de France, vous disposez d’un délai de 7 jours francs à compter de la livraison pour exercer votre droit de rétractation.
                Pour exercer votre droit de rétractation, veuillez nous envoyer un email à l’adresse suivante <a href="mailto:mesjoliscotillons@gmail.com">mesjoliscotillons@gmail.com</a><br/><br/>
                À réception de votre demande, le service client prendra contact avec vous aux coordonnées communiquées afin d'organiser le retour des produits dont les coûts directs restent à votre charge.
                Les colis devront être retournés à l'adresse suivante :<br/><br/>


                MES JOLIS COTILLONS<br/>
                30 Parc d'Ardenay<br/>
                91120 PALAISEAU<br/>
                <br/><br/>
                Le remboursement interviendra dans les meilleurs délais à compter de la réception du ou des produit(s) retourné(s) et au plus tard dans les 14 jours suivants leur(s) réception(s) et s'effectuera via le moyen de paiement utilisé lors de l'achat.<br/>
                Toutefois, le remboursement ne pourra intervenir que si le produit est retourné en parfait état, dans son emballage d'origine, accompagné de tous les accessoires éventuels. De plus, les produits descellés et/ou mélangés de manière indissociable avec d'autres produits ne seront pas remboursés.
                Vous serez le seul à pouvoir exercer ce droit de rétractation. En cas de livraison à une personne différente du client, ce droit ne pourra donc pas être exercé par le destinataire de la commande.
                <br/>
                <br/>
                <h6>11. Réserve de propriété</h6>
                <br/>
                Les produits qui vous sont livrés sont vendus sous réserve de propriété. Le transfert de propriété est subordonné au paiement total du prix des produits, à l'échéance convenue entre les parties.<br/>
                Les produits restent donc la propriété de Mes Jolis Cotillons jusqu'au règlement intégral des commandes.
                <br/>
                <br/>
                <h6>12. Responsabilité</h6>
                <br/>
                Mes Jolis Cotillons s'engage à apporter tous les soins nécessaires à la mise en œuvre du service qui vous est offert.<br/>
                Le site vous fournit des informations (photos, textes) à titre indicatif, en l'état, avec toutes leurs imperfections, erreurs, omissions, inexactitudes et autres ambivalences susceptibles d'exister et ne sont en aucun cas contractuelles. En outre, ces informations doivent être prises en considération au moment de leur mise en ligne et non au moment de la consultation du site.

                Mes Jolis Cotillons décline toute responsabilité :<br/><br/>
                Pour toute interruption, dysfonctionnement ou indisponibilité d'accès au site ;<br/>
                Pour toute mauvaise utilisation ou mauvaise configuration de votre ordinateur ;<br/>
                Pour tout dommage de quelque nature que ce soit, résultant d'une intrusion frauduleuse d'un tiers ayant entrainé une modification des informations mise à disposition sur le site.<br/>
                Pour tout manquement dû à un cas fortuit ou à un cas de force majeure tel que, et sans limitation, les catastrophes, grèves, incendies, inondations, défaillance ou panne de matériel, des moyens de transports, de communication ou du fait de vos agissements.<br/>
                Pour tout dommage indirect tel que notamment pertes de profits, manque à gagner, pertes de données, de clientèle pouvant entre autres résulter de l'utilisation du site, ou au contraire de l'impossibilité de son utilisation.<br/>
                <br/>
                <br/>
                <h6>13. Protection des données personnelles et confidentialité</h6>
                <br/>
                La création d'un compte client sur notre site requiert de votre part la communication d'un certain nombre de données personnelles vous concernant.<br/>
                Mes Jolis Cotillons s'engage à respecter le caractère confidentiel des informations que vous fournissez volontairement ou celles récoltées automatiquement par Mes Jolis Cotillons.<br/>
                Toutes les informations laissées sur le site (nom, adresse, e-mail…) ne feront l'objet d'aucune autre exploitation (location ou vente de fichier) que celle liée au traitement de la commande et à la gestion des relations commerciales entre vous et Mes Jolis Cotillons.<br/><br/>
                Vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en écrivant à Mes Jolis Cotillons ou en adressant un courrier électronique à <a href="mailto:mesjoliscotillons@gmail.com">mesjoliscotillons@gmail.com</a> ou directement sur votre compte personnel crée sur le site. Merci de préciser votre nom, vos coordonnées physiques et/ou électroniques, ainsi que le cas échéant, la référence dont vous disposez en tant que client du site.<br/>
                Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
                <br/>
                <br/>
                <h6>14. Propriété intellectuelle</h6>
                <br/>
                Tous les éléments (textes, logos, marques, images, éléments sonores, logiciels, icones, mise en page, base de données, noms de domaine) figurant sur le site sont la propriété exclusive de Mes Jolis Cotillons ou font l'objet d'une autorisation d'utilisation. Toute reproduction ou représentation, totale ou partielle, sur tout support, d'un quelconque élément figurant sur le site est strictement interdite, à l'exception d'une copie à usage privé, individuel, personnel, non-transmissible et non-commercial et sous réserve du respect des droits de propriété intellectuelle et de tout autre droit de propriété dont il est fait mention. Toute cession ou licence d'un des éléments constitutifs du site est soumise à l'autorisation préalable et écrite à Mes Jolis Cotillons, tout contrevenant s'exposant à des poursuites judiciaires.<br/>
                Mes Jolis Cotillons décline toute responsabilité en cas d'utilisation abusive et/ou non autorisée de ces éléments.
                <br/>
                <br/>
                <h6>15. Réclamation</h6>
                <br/>
                Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de Mes Jolis Cotillons ne saurait être engagée en cas de non-respect de la législation du pays où les produits sont livrés. Il appartient au client de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits qu'il envisage de commander.
                <br/>
                <br/>
                <h6>16. Litige - droit applicable</h6>
                <br/>
                Seules les présentes Conditions Générales de Vente et d'Utilisation en langue française font foi. Dans le cas où elles seraient traduites en une ou plusieurs autres langues, seul le texte français ferait foi en cas de litige.
                <br/>
                <br/>
                <h6>17. Mentions Légales</h6>
                <br/>
                Le site <a href="">mesjoliscotillons.fr</a> est hébergé par Ikoula.<br/>
                Le gérant est Mlle Cécile Té.<br/><br/>
                Le siège se trouve à l’adresse suivante :<br/>
                30 Parc d'Ardenay<br/>
                91120 Palaiseau.<br/><br/>

                Société enregistrée à la Chambre des Commerce d’Evry sous le numéro d’immatriculation 820 801 868
                <br/><br/>
                Numéro de TVA (taxe sur la valeur ajoutée) : FR 88 820801868
            </div>
        </div>
    </div>
</div>