
<div class="informationContainer">
    @Html.Partial("LeftMenuHelp")
    <div class="informationContent">
        <div class="informationTitle">Mentions légales</div>

        gbagba

    </div>
</div>






