<div class="inscriptionContainer">
    <div class="inscriptionArea">
        <div class="inscriptionForm">
            <img style="float:left; margin-right:20px;" height="50px" width="50px" src="~/Content/Images/warning.png" />
            <h6>Le lien recherché ne semble plus être disponible</h6>
        </div>
    </div>
</div>