<div class="inscriptionContainer">
    <div class="inscriptionArea">
        <div class="inscriptionForm">
            <img style="float:left; margin-right:20px;" height="50px" width="50px" src="~/Content/Images/checked.png" />
            <h4>Merci vous venez d'activer votre compte Mes Jolis Cotillons</h4>
            <div>Vous pouvez désormais vous connecter avec vos identifiants</div>
        </div>
    </div>
</div>