<div class="inscriptionContainer">
    <div class="inscriptionArea">
        <div class="inscriptionForm">
            <img style="float:left; margin-right:20px;" height="50px" width="50px" src="~/Content/Images/happy.png" />
            <h4>Merci d'avoir souscrit à Mes Jolis Cotillons</h4>
            <div>Votre compte a été créé avec succès. Un mail de confirmation vous a été envoyé afin de finaliser l'inscription</div>
        </div>
    </div>
</div>