@model MesJolisCotillons.ViewModels.TokenLinkProcessModel

<div class="loginContainer">
    <div class="loginArea d-none d-md-flex">
        <div class="userForm">
            <div class="userFormTitle">Redéfinition du mot de passe</div>

            @{
                var returnUrl = Request.QueryString["ReturnUrl"];
            }

            <div class="formArea">
                <div class="userTexfield smallFontSize"><input type="password" onCopy="return false;" onPaste="return false;" class="passwordInput" name="Password" placeholder="Mot de passe" /></div>
                <div class="userTexfield smallFontSize"><input type="password" onCopy="return false;" onPaste="return false;" class="confirmedPasswordInput" name="ConfirmedPassword" placeholder="Confirmation mot de passe" /></div>

                <input name="Save" class="redefinitionPasswordSubmitButton greenSubmitButton" type="submit" value="Valider" />

                <div class="centuryFont smallFontSize redefinePasswordText">
                    Saisissez votre mot de passe et reconfirmez le.
                </div>
            </div>
        </div>
    </div>

    <div id="userForm" class="userForm userForm-responsive d-block p-0 d-md-none">
        <div class="userFormTitle">Redéfinition du mot de passe</div>
        <form class="loginForm" method="post" action="">
            <div class="userTexfield"><input type="password" onCopy="return false;" onPaste="return false;" class="passwordInput" name="Password" placeholder="Mot de passe" /></div>
            <div class="userTexfield"><input type="password" onCopy="return false;" onPaste="return false;" class="confirmedPasswordInput" name="ConfirmedPassword" placeholder="Confirmer le mot de passe" /></div>
            <input name="Save" type="button" class="redefinitionPasswordSubmitButton greenSubmitButton" value="Valider" />

            <div class="centuryFont smallFontSize redefinePasswordText">
                Saisissez votre mot de passe et reconfirmez le.
            </div>
        </form>
    </div>
</div>

<script defer>

    $(function () {
        var tokenLinkGenerated = '@Model.TokenLinkGenerated';
        Mjc.customer.runCustomerRedefinitionPasswordFormUtilities(tokenLinkGenerated);
    });

</script>