@model MesJolisCotillons.ViewModels.CustomerAccountViewModel

<div class="customerAccountContent">
    <div class="customerAccountForm">
        <div class="customerAccountTitle">Gérer les paramètres du compte</div>

        @{
            var returnUrl = Request.QueryString["ReturnUrl"];
        }

        <form id="customerAccountFormEdition" method="post">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Prénom</label>
                    <input type="text" name="FirstName" class="form-control" placeholder="Prénom" value="@Model.FirstName"/>
                </div>

                <div class="col-md-6 form-group">
                    <label>Nom</label>
                    <input type="text" name="LastName" class="form-control" placeholder="Nom" value="@Model.LastName"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>eMail</label>
                    <input type="text" name="Email" class="form-control" placeholder="eMail" value="@Model.eMail" readonly/>
                </div>

                <div class="col-md-6 form-group">
                    <label>Numéro de téléphone</label>
                    <input type="text" name="Phone" class="form-control" placeholder="Numéro de téléphone" value="@Model.Phone"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Nouveau mot de passe</label>
                    <input type="password" name="Password" onCopy="return false" onPaste="return false" class="form-control" placeholder="Nouveau mot de passe"/>
                </div>

                <div class="col-md-6 form-group">
                    <label>Confirmer mot de passe</label>
                    <input type="password" name="ConfirmedPassword" onCopy="return false" onPaste="return false" class="form-control" placeholder="Confirmation mot de passe"/>
                </div>
            </div>

            <input name="Save" class="customerAccountEditButton" type="submit" value="Sauvegarder"/>

        </form>
        
        <input name="Save" class="signOutButton" type="submit" value="Déconnexion"/>

    </div>
</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>

<script defer>
    $(function() {
        Mjc.customer.runCustomerAccountEmailPasswordUtilities();
    });
</script>