<div class="inscriptionContainer">
    <div class="inscriptionArea">
        <div class="inscriptionForm">
            <img style="float:left; margin-right:20px;" height="50px" width="50px" src="~/Content/Images/checked.png" />
            <div>Votre mot de passe a été changé avec succès. Vous pouvez désormais vous reconnecter</div>
        </div>
    </div>
</div>