<div class="footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-column-content centuryFont">
                                <div><a href="/Information/NeedHelpView" class="title-large">LA BOUTIQUE</a></div> <br />
                                <div><a href="/Information/AboutView">A propos</a></div>
                                <div><a href="/Information/Contact">Contact</a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-column-content centuryFont">
                                <div><a href="/Information/QuestionsAnswersView" class="title-large">BESOIN D'AIDE ?</a></div> <br />
                                <div><a href="/Information/QuestionsAnswersView">Questions / Réponses</a></div>
                                <div><a href="/Information/GeneralSalesConditionsView">CGV / Mentions légales</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-column-content centuryFont">
                                <div><a href="/Customer" class="title-large">MON COMPTE</a></div><br />
                                <div><a href="/Customer/CustomerAccountCommandListView">Mes commandes</a></div>
                                <div><a href="/Customer">Mes informations</a></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-column-content centuryFont">
                                <div><span class="title-large" >SUIVEZ-NOUS</span></div>
                                <div class="social-network-footer">
                                    <a title="Ma page Facebook" target="_blank" href="https://www.facebook.com/mesjoliscotillons/?ref=aymt_homepage_panel"><img src="~/Content/Images/Icons/Facebooknew.png" alt="Facebook icon"></a>
                                    <a title="Ma page Insta" target="_blank" href="https://www.instagram.com/mesjoliscotillons/"> <img src="~/Content/Images/Icons/instagramnew.png"  alt="Instagram icon"></a>
                                </div>
                                @{
                                    var year = DateTime.Now.Year;
                                }
                                <div id="copyright">
                                    <div>&copy;@year mesjoliscotillons</div>
                                    <div class="smallFontSize">Tous droits réservés</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
